<div class="dashboard-container">
    <h1>Good Morning, <span class="user-name">{{userName}} !</span></h1>
    <span class="sub-title">
        Check your stats and suggestions for using LiveChat
    </span>
    <div class="dashboard-cards">
        <mat-card *ngFor="let item of data" [ngStyle]="{'background-color': item.background}">
            <mat-card-content>
                <div>
                    <h2>{{item.count}}</h2>
                    <p>{{item.heading}}</p>
                </div>
                <div class="text-right"><img src="{{item.icon}}" alt=""></div>
            </mat-card-content>
        </mat-card>
    </div>

</div>