.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 500px;
    height: 350px;
  .login-card {
    max-width: 500px;
    height: 350px;
    .mat-card-content {
      .login-form {
        .mat-form-field {
          width: 100%;
        }
        .extra-field {
          justify-content: space-between;
          display: flex;
          padding-bottom: 20px;
        }
        .forgot-password {
          text-align: right;
        }
      }
    }
  }
}
